.failure, .failure * {
    background-color: #f5f5f5 !important;
    overflow: hidden;
}

.failure .expected {
  background-color: #f5f5f5 !important;
  color: black !important;
}

.rishiDiv, .rishiDiv * {
    background-color: #f5f5f5;
    text-decoration: none;
    font-family: Courier New, Courier;
    white-space: pre;
}

