.failure, .failure * {
    background-color: #f5f5f5 !important;
    overflow: hidden;
}

.failure .expected {
    background-color: #f5f5f5 !important;
    color: black !important;
    background-color: #f5f5f5; !important
}

.rishiDiv, .rishiDiv * {
    background-color: #f5f5f5 !important;
    text-decoration: none !important;
    font-family: Courier New, Courier;
    white-space: pre !important;
}

.del {
    text-decoration: none; !important;
}

